In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn import linear_model

FIRST I loaded a file by calling read code

In [3]:
df = pd.read_excel("C:\\Users\\kisha\\OneDrive\\Desktop\\New folder\\customer_churn_large_dataset.xlsx")
df.head()

,CustomerID,Name,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,1,Customer_1,63,Male,Los Angeles,17,73.36,236,0
1,2,Customer_2,62,Female,New York,1,48.76,172,0
2,3,Customer_3,24,Female,Los Angeles,5,85.47,460,0
3,4,Customer_4,36,Female,Miami,3,97.94,297,1
4,5,Customer_5,46,Female,Miami,19,58.14,266,0

Then i started my data celaning process 
In data cleaning i droped Names, customerid, Location columns causes they are useless data

In [4]:
df1 = df.drop(['Name','CustomerID','Location'],axis=1)
df1.head()

,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,63,Male,17,73.36,236,0
1,62,Female,1,48.76,172,0
2,24,Female,5,85.47,460,0
3,36,Female,3,97.94,297,1
4,46,Female,19,58.14,266,0

In [7]:
df1.shape

(100000, 6)

Then i changed gender string into intr\
and added into my datasets

In [9]:
df2 = le.fit_transform(df1.Gender)

after that i checked that is there any nil values in data sets by calling this code

In [8]:
df1.isnull().sum()

Age                           0
Gender                        0
Subscription_Length_Months    0
Monthly_Bill                  0
Total_Usage_GB                0
Churn                         0
dtype: int64

In [10]:
df1['gender'] = df2

In [13]:
df1.head()

,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,gender
0,63,Male,17,73.36,236,0,1
1,62,Female,1,48.76,172,0,0
2,24,Female,5,85.47,460,0,0
3,36,Female,3,97.94,297,1,0
4,46,Female,19,58.14,266,0,0

In [14]:
df3 = df1.drop(['Gender'],axis= 1)
df3

,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,gender
0,63,17,73.36,236,0,1
1,62,1,48.76,172,0,0
2,24,5,85.47,460,0,0
3,36,3,97.94,297,1,0
4,46,19,58.14,266,0,0
...,...,...,...,...,...,...
99995,33,23,55.13,226,1,1
99996,62,19,61.65,351,0,0
99997,64,17,96.11,251,1,1
99998,51,20,49.25,434,1,0
99999,27,19,76.57,173,1,0

In [15]:
x = df3.drop('Churn',axis=1)

y = df3['Churn']
y.head()

0    0
1    0
2    0
3    1
4    0
Name: Churn, dtype: int64

From here I started my machine learning process begin \
First I split my data into training and tes data setst then I used logistics Regression modelto predict my data and model accuracy 
And then I used second model which is random forest modeand repeated same code l

In [31]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.5)

In [17]:
reg = linear_model.LogisticRegression()

In [18]:
reg.fit(X_train.values,y_train.values)

LogisticRegression()

In [19]:
reg.predict([[62,17,73.36,236,1]])

array([0], dtype=int64)

In [32]:
reg.score(X_test.values,y_test.values)

0.50138

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
model  = RandomForestClassifier()

In [27]:
model.fit(X_train.values,y_train.values)

RandomForestClassifier()

In [28]:
model.score(X_test.values,y_test.values)

0.49655